:root{
    --primary-color: green;
    --background-primary: white;
    --background-secondary: rgba(238, 238, 238, 1);
    --heading-font-color: grey;
    --info-color: rgba(128, 128, 128, 1);
    --secondary-color: black;
    --button-radius: 20px;
    --white: white;
    --black: black;
    --grey: rgba(217, 217, 217, 1);
    --red: red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all{
    width: 100%;
    height: fit-content;
    display: flex;
    /* background-color: gold; */

}
.all:hover{
    cursor: default;
}

/* SIDE BAR */

/* .side{
    width: 26rem;
    height: 100vh;
    position: relative;
    padding-left: 2rem;
    border-radius: 15px;
} */
.side_bar{
    width: 23rem;
    height: 100vh;
    position: relative;
    padding-left: 2rem;
    border-radius: 15px;
    background-color: var(--background-secondary);
}
.side_bar .identity{
    width: 100%;
    height: 6rem;
    align-items: center;
    padding-left: 1rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}
.identity .profile{
    width: 5rem;
    height: 5rem;
    /* background-color: rosybrown; */
}
.profile img{
    width: 5rem;
    height: 5rem;
}
.identity .username{
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman';
}

/* NAVIGATION */
.nav_btn{
    /* margin-left: 20%; */
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    /* margin-left: 20%; */
}
.nav_btn:hover{
    cursor: pointer;
    background-color: var(--white);
}
#home_nav{
    background-color: var(--primary-color);
}
#home_nav .nav_icon img{
    width: fit-content;
    height: 35px;
    margin: 30% 1rem auto 1rem;
}
.nav_icon img{
    width: fit-content;
    height: 35px;
    margin: 30% 1rem auto 1rem;
}
img{
    width: 35px;
    height: 35px;
}
.nav_name{
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman';
    margin: auto 0rem auto .3rem;
}
.logout_div{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    align-items: center;
    justify-content: end;
}
.logout_div button{
    background-color: var(--black);
    color: var(--white);
    width: 8rem;
    height: 3rem;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin-left: .5rem;
}
.logout_div button a:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.logout_div button a{
    text-decoration: none;
    color: var(--white);
}
/* ALL ABOUT HOME */

.home{
    width: 100%;
    height: 100vh;
    padding-left: 2rem;
    padding-top: 2rem;
    /* overflow-y: scroll; */
    /* background-color: burlywood; */
    display: block;
}
.home .title{
    font-family: Georgia, 'Times New Roman';
    color: var(--black);
    margin-bottom: 1rem;
}
.unfinished_div{
    width: 100%;
    height: 27rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border-radius: 10px;
    gap: 1rem;
    padding: .5rem 0rem 0rem .5rem;
    background-color: var(--background-secondary);
}
.single_task{
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    align-items: center;
    padding: 1rem .5rem 1rem .5rem;
}
.task_title{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia;
    margin-bottom: 2rem;
}
.task_desc{
    font-size: 20px;
    text-align: justify;
}
.submit{
    background-color: var(--white);
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
    height: 2rem;
    width: 7rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}
.submit:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.bottom_div{
    width: 100%;
    height: 10rem;
    align-items: end;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.report a{
    text-decoration: none;
}
.fin_div{
    width: 32rem;
    height: fit-content;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}
.task{
    width: 100%;
    height: fit-content;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
}
.task .task_title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}
.task .review{
    color: var(--primary-color);
}
.task .acc_date{
    font-weight: bold;
    float: right;
}

/* ALL ABOUT NOTIFICATIONS */
.notifications{
    width: 62.5rem;
    height: 100vh;
    padding-left: 2rem;
    padding-top: 2rem;
    overflow-y: scroll;
    /* background-color: chocolate; */
    display: none;
}
.notifications .title{
    font-family: Georgia, 'Times New Roman';
    color: var(--black);
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
    gap: .5rem;
}
.notifications .not_body h2{
    font-family: Georgia, 'Times New Roman';
    color: var(--info-color);
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.title img{
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}
.not_body{
    width: 100%;
    height: fit-content;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
    border-radius: 10px;
    background-color: var(--background-secondary);
}
.not_body div{
    width: 100%;
    height: fit-content;
    padding: 0rem .5rem 0rem .5rem;
}
.not_body div .single_not{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--grey);
    margin-top: .5rem;
}
.not_desc{
    margin: auto auto auto 1rem;
    font-size: 1.5rem;
}
.time{
    width: 7rem;
    height: fit-content;
    /* background-color: aqua; */
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
}

/* ALL ABOUT PARTICIPANTS */
.participants{
    width: 62.5rem;
    height: 100vh;
    padding-left: 2rem;
    padding-top: 2rem;
    overflow-y: scroll;
    /* background-color: chocolate; */
    display: none;
}
.participants .part_body h2{
    font-family: Georgia, 'Times New Roman';
    color: var(--info-color);
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.all_part{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
    border-radius: 10px;
    background-color: var(--background-secondary);
    overflow-x: visible;

}
.all_part .single_user{
    width: 15rem;
    height: 20rem;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem .5rem 1rem .5rem;
    background-color: var(--grey);
}
.single_user img{
    height: 70px;
    width: 70px;
    margin-bottom: 12%;
}
.username{
    font-size: 20px;
    font-weight: bold;
}
.name , .depart_name{
    font-size: 22px;
}
.depart_name{
    font-weight: bold;
    color: var(--primary-color);
    float: right;
}
.your_dep{
    width: 56.5rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    gap: 1rem;
    background-color: var(--background-secondary);
}
.your_dep .single_user{
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    padding-left: .5rem;
    padding-top: .5rem;
    border-radius: 10px;
    width: 20rem;
    height: 10rem;
    gap: 1rem;
}
.single_user .user_contact{
    gap:2rem;
}
.single_user .user_identity{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* ALL ABOUT PROFILE SETTINGS */
.profile_settings{
    width: 62.5rem;
    height: 97vh;
    padding-left: 2rem;
    padding-top: 2rem;
    overflow-y: scroll;
    /* background-color: chocolate; */
    display: none;
}
.profile_settings .prof_body h2{
    font-family: Georgia, 'Times New Roman';
    font-size: 20px;
    color: var(--info-color);
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.prof_body{
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 10px;
    background-color: var(--background-secondary);
}
.change_pic_div{
    width: 90%;
    height: fit-content;
    /* background-color: aqua; */
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.prof_id img{
    width: 10rem;
    height: 10rem;
}
.prof_id .username{
    font-size: 25px;
    text-align: center;
}
.prof_more{
    width: 90%;
    height: 10rem;
    text-align: center;
    margin: auto;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}
.prof_desc{
    font-size: x-large;
    font-weight: bolder;
    word-spacing: 10px;
}
.change_prof_btns{
    /* background-color: yellow; */
    /* width: fit-content; */
    height: 3rem;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    justify-content: center;
}
.change_prof_btns button{
    width: 9rem;
    height: 3rem;
    font-size: larger;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    letter-spacing: -.1px;
}
.change_prof_btns button:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.change_pic{
    color: var(--black);
    background-color: var(--white);
}
.take_pic{
    color: var(--white);
    background-color: var(--black);
}
.change_names_div , .change_desc_div , .change_location_div{
    font-size: 20px;
    font-weight: bold;
    width: 54.7rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-left: 0rem;
    padding-right: 3rem;
    gap: .5rem;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.change_names_div div{
    display: flex;
    flex-direction: column;
}
.change_desc_div div input{
    width: 28.5rem;
    height: 3rem;
}
input{
    width: 20rem;
    height: 2rem;
    font-size: 20px;
    outline: none;
    color: var(--primary-color);
}
input:hover{
    outline-offset: 0px;
    outline: 2px solid var(--primary-color);
}
div div div div div p{
    color: var(--info-color);
}
.prof_body .save, .prof_body .cancel{
    width: 7rem;
    height: 3rem;
    font-size: large ;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    letter-spacing: -.1px;
    background-color: var(--white);
    transition: .5s;
}
.prof_body .save:hover, .prof_body .cancel:hover{
    background-color: var(--black);
    color: var(--primary-color);
    cursor: pointer;
}