:root{
    --primary-color: green;
    --background-primary: white;
    --background-secondary: rgba(238, 238, 238, 1);
    --heading-font-color: grey;
    --overlay-background: rgba(128, 128, 128, 0.705);
    --info-color: rgba(128, 128, 128, 1);
    --secondary-color: black;
    --button-radius: 20px;
    --white: white;
    --black: black;
    --red: red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    justify-content: center;
    font-size: 22px;
    color: red;
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color:var(--overlay-background);
    backdrop-filter: blur(3px);
    position: fixed;
    display: none;
    padding-top: 5rem;
    
}
.container{
    width: 24rem;
    height: 30rem;
    margin: auto;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-secondary);
}
.container .log{
    text-align: center;
    margin: 1rem auto ;
    font-size: 30px;
    color: var(--primary-color);
    font-family: sans-serif;
}
.close{
    /* background-color: var(--primary-color); */
    height: 24px;
    width: 24px;
    position: relative;
    margin-top: -3.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    float: right;
}
.close:hover{
    cursor: pointer;
}
form div{
    height: fit-content;
    margin: 4rem auto;
    padding: .5rem 3rem 2rem 2rem;
    /* background-color: blue; */
    
}
form div p{
    float: right;
    margin-top: .5rem;
    font-style: italic;
}
form div p a{
    font-style: normal;
    color: var(--primary-color);
}
input{
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: var(--primary-color);
    outline: none;
}
input:hover{
    outline-offset: 0px;
    outline: 1px solid var(--primary-color);
}
input::placeholder{
    font-style: italic;  
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.submit{
    width: 20rem;
    height: 3rem;
    background-color: var(--black);
    border: none;
    border-radius: 3px;
    color: var(--white);
    font-size: larger;
}
.submit a:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.submit a{
    text-decoration: none;
    color: var(--white);
}

.all{
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    /* background-color: gold; */
}
.all:hover{
    cursor: default;
}
.header{
    width: 100%;
    height: 20%;
    padding-top: 1rem;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_div{
    height: fit-content;
    width: fit-content;
    margin-left: 3rem;
    /* background-color: black; */
    border-radius: 50%;
    border: none;
}
.logo_img{
    height: 88px;
    width: 88px;
    display: block;
    border-radius: 50%;
}
.continue{
    margin-right: 3rem;
}
.continue button{
    font-weight: bold;
}
.continue button:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.get_started{
    height: 60px;
    width: fit-content;
    padding: .5rem;
    border: none;
    border-radius: var(--button-radius);
    font-size: 25px;
    color: var(--black);
    background-color: var(--background-secondary);
}
.login{
    height: 60px;
    padding: 1rem;
    font-size: 25px;
    border: none;
    border-radius: var(--button-radius);
    color: var(--white);
    background-color: var(--black);
}

.site_desc{
    width: 100%;
    height: fit-content;
    /* background-color: brown; */
}
.site_desc .div{
    width: 100%;
    height: 33rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.description img{
    width: 70rem;
    height: 50rem;
    margin: auto;
    position: relative;
}
.site_desc .description{
    display: flex;
    flex-direction : column;
    gap: 3rem;
    width: 32.5rem;
}
.description p{
    font-family: Cambria;
    font-size: 24px;
    font-style: italic;
    text-align: justify;
    justify-content: center;
    margin: 0rem .5rem auto auto;
    color: rgba(128, 128, 128, 1);
}
.description .desc_1{
    color: var(--black);
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
}
div .heading{
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}
div .heading h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 2rem;
    color: var(--heading-font-color);
}
.steps{
    width: 59rem;
    height: 20rem;
    margin: auto;
    /* background-color: yellowgreen; */
}
.every_step{
    width: 100%;
    height: fit-content;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}
.step{
    height: 15rem;
    width: 15rem;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--background-secondary);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
}
.step h3{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}
.step img{
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 2rem auto;
}
.benefits{
    width: 59rem;
    height: fit-content;
    margin: auto;
    /* background-color: yellowgreen; */
}
.every_benefit{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    /* background-color: blue; */
}
.benefit{
    height: 10rem;
    width: 20rem;
    background-color: var(--background-secondary);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
}
.benefit p{
    font-size: 22px;
    text-align: justify;
    padding: 1rem;
    margin: auto .5rem auto .5rem;
}

footer{
    width: 100%;
    margin-top: 3rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: var(--black);
}
footer div{
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
footer div h3{
    color: var(--primary-color);
    margin-bottom: 1rem;
}
footer div p{
    color: var(--info-color);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1100px){
    .site_desc img{
        display: none;
    }
    /* .site_desc .description{
        display: none;
    } */
}

@media only screen and (max-width: 940px){
    .steps{
        width: 100%;
        height: fit-content;
    }
    .every_step{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .step{
        width: 50%;
    }
    .benefits{
        height: fit-content;
        width: 100%;
    }
    .every_benefit{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .benefit{
        margin: auto;
        width: 30rem;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;
    }
    footer div{
        padding-bottom: 0rem;
    }
}