:root{
    --primary-color: green;
    --background-primary: white;
    --background-secondary: rgba(238, 238, 238, 1);
    --heading-font-color: grey;
    --info-color: rgba(128, 128, 128, 1);
    --secondary-color: black;
    --button-radius: 20px;
    --white: white;
    --black: black;
    --red: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
    width: 100%;
    height: fit-content;
    /* background-color: gold; */
}
.all:hover{
    cursor: default;
}
.header{
    width: 100%;
    height: 20%;
    padding-top: 1rem;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_div{
    height: fit-content;
    width: fit-content;
    margin-left: 3rem;
    background-color: black;
    border-radius: 50%;
    border: none;
}
.logo_img{
    height: 88px;
    width: 88px;
    display: block;
    border-radius: 50%;
}

.container{
    width: 24rem;
    height: 30rem;
    margin: auto;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-secondary);
}
.login{
    text-align: center;
    margin: 1rem auto ;
    font-size: 30px;
    color: var(--primary-color);
    font-family: sans-serif;
}
.close{
    /* background-color: var(--primary-color); */
    height: 24px;
    width: 24px;
    position: relative;
    margin-top: -3.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    float: right;
}
.close:hover{
    cursor: pointer;
}
form div{
    height: fit-content;
    margin: 4rem auto;
    padding: .5rem 3rem 2rem 2rem;
    /* background-color: blue; */
    
}
form div p{
    float: right;
    margin-top: .5rem;
    font-style: italic;
}
form div p a{
    font-style: normal;
    color: var(--primary-color);
}
input{
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: var(--primary-color);
    outline: none;
}
input:hover{
    outline-offset: 0px;
    outline: 1px solid var(--primary-color);
}
input::placeholder{
    font-style: italic;  
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.submit{
    width: 20rem;
    height: 3rem;
    background-color: var(--black);
    border: none;
    border-radius: 3px;
    color: var(--white);
    font-size: larger;
}
.submit:hover{
    color: var(--primary-color);
    cursor: pointer;
}

footer{
    width: 100%;
    margin-top: 3rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: var(--black);
}
footer div{
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
footer div h3{
    color: var(--primary-color);
    margin-bottom: 1rem;
}
footer div p{
    color: var(--info-color);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}